.popup__input  {
  width: 358px;
  height: 27.26px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: 1px solid rgb(0, 0, 0, 0.2);
  margin-bottom: 29px;
  margin-left: 36px;
  margin-right: 36px;
}


@media screen and (max-width: 360px) {
  .popup__input  {
   max-width: 95%;
   margin-left: 2%;
   margin-right: 2%;
  }
}
