.profile__add-btn {
  background: url('../../../images/add.svg'), rgb( 0, 0, 0);
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 14px 64px;
  width: 150px;
  height: 50px;
  border: 2px solid #FFF;
  box-sizing: border-box;
  border-radius: 2px;
  transition-duration: .5s;
  cursor: pointer;
  justify-self: flex-end;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 850px) {
  .profile__add-btn {
    width: 140px;
    height: 40px;
    padding: 9px 57px;
  }
}

@media screen and (max-width: 685px) {
  .profile__add-btn {
    width: 120px;
    padding: 9px 50px;
  }
}

@media screen and (max-width: 617px) {
  .profile__add-btn {
    grid-area: add;
    margin-left: auto;
    margin-right: auto;
    padding: 13px 134px;
    width: 282px;
    height: 50px;
  }
}
