/*.button__add {
  width: 150px;
  height: 50px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 125px;
  border: 1px solid #FFF;
}

@media screen and (max-width: 900px) {
  .button__add {
    margin-left: 60px;
    max-width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .button__add {
    margin-left: 40px;
    max-width: 90%;
  }
}*/

.profile__button_add {
  width: 150px;
  height: 50px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 125px;
  border: 1px solid #FFF;
}

@media screen and (max-width: 900px) {
  .profile__button_add {
    margin-left: 25%;
  }
}

@media screen and (max-width: 877px) {
  .profile__button_add {
    margin-left: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__button_add {
    margin-left: 6%;
    margin-right: 6%;
    width: 282px;
    height: 50px;
  }
}
/*
@media screen and (max-width: 680px) {
  .profile__button_add {
    margin-left: 15%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 60%;
    max-height: 60%;
  }
}*/

/*
@media screen and (max-width: 619px) {
  .profile__button_add {
    max-width: 150px;
    height: 50px;
    margin-left: 36%;
    margin-right: 36%;

  }
}*/
