.elements__like-btn {
  background: url('../../../images/heart.svg');
  background-size: auto;
  background-repeat: no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  margin-top: 27px;
  transition-duration: .5s;
}

.elements__like-btn:hover {
  opacity: 0.6;
}

.elements__like-btn_active {
  opacity: 1;
  background: url('../../../images/bl-heart.svg') center no-repeat;
}


